<!-- Footer Start -->
<div class="row bg-secondary">
    <div class="container bg-secondary">
        <div class="row bg-secondary">
            <div class="col-md-5 bg-secondary">
                <div class="fw-bold p-1 bg-secondary text-white"> Locate Us </div>
                <div class="p-1 bg-secondary text-white">  70, Thittamalai, Nambiyur, Erode, Tamilnadu - 648458 , India</div>
                <div class="p-1 bg-secondary text-white">+91-9500459614</div>
                <div class="p-1 bg-secondary text-white">info@arbyte.dev</div>
            </div>
            <div class="col-md-7">
                <div class="row bg-secondary">
                    <div class="col-md-6 bg-secondary">
                        <div class="fw-bold p-1 bg-secondary text-white"> Quick Links </div>
                        <div> <a href="index.html" class="bg-secondary link-light">Home Page</a> </div>
                        <div><a href="Company.html" class="bg-secondary link-light">About Us</a> </div>
                        <div><a href="Services.html" class="bg-secondary link-light">Our Services</a> </div>
                         <div><a href="Solutions.html" class="bg-secondary link-light">Solutions</a> </div>
                        <div><a href="Careers.html" class="bg-secondary link-light">Careers</a> </div>
                    </div>
                   <div class="col-md-6 bg-secondary">
                       <div class="fw-bold p-1 bg-secondary text-white"> Enquiries </div>
                       <div class="fst-italic p-1 bg-secondary text-white">Please email us at info@arbyte.dev
                       with your query and we will get back to you at the earliest </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright bg-secondary">
        <div class="row">
            <div class="col-md-6 bg-secondary text-white">
                <p> <a href="http://arbyte.dev">Arbyte Technologies</a>, All Right Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!--- JS --->
<script src="{{ site.baseurl }}/assets/javascripts/bootstrap.bundle.min.js"></script>