<!DOCTYPE html>
<html>
<head> 
 {%- include head_navexpanded.html -%}
</head>
<body>
<div class="container-fluid mx-auto">
    <!---  Company Motto --->
    <div class="card border-light mb-3">
  <div class="row g-0">
    <div class="col-md-6 rounded-pill" style="width:270px">
      <img src="{{ site.baseurl }}/assets/images/brandmotto.jpg" class="img-thumbnail rounded-start" alt="brandicon">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title font-italic fs-2">Know About Arbyte</h4>
        <h5 class="card-text lead fs-3">We provide creative solutions in automotive-embedded,
            agricultural robotics and industrial automation domains </h5>
      </div>
    </div>
  </div>
  </div>
    <!---  End of Company Motto --->
</div>
 {%- include footer.html -%}
</body>
</html>